name: Build and attest Python Fibonacci Sequence artifact

on:
  workflow_dispatch:

jobs:
  build:
    name: build package
    runs-on: ubuntu-latest
    permissions:
      attestations: write
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.x"

      - name: Build artifact
        run: tar -czf pyfib.tar.gz ./pyfib

      - name: Attest build provenance
        uses: actions/attest-build-provenance@e8998f949152b193b063cb0ec769d69d929409be # v2.4.0
        with:
          subject-path: "pyfib.tar.gz"

      - name: Upload build artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          path: "pyfib.tar.gz"

      - name: Verify build artifact
        env:
          GH_TOKEN: ${{ github.token }}
        run: gh attestation verify pyfib.tar.gz --owner "$GITHUB_REPOSITORY_OWNER"
